*, *::before, *::after{
    padding: 0;
    margin: 0;
}

body {
    overflow:hidden !important;
    position:absolute;
}

.container {
    position: relative;
    height: 93vh;
    width: 100vw;
}

.scene-container{
    position: absolute;
    height: 100%;
    width: 100%;
}

.scene-button{
    position: absolute;
    height: 50px;
    width:50px;
    bottom: 100px;
    left: 80%;
    z-index: 3;
}

.ar-button{
    /* position:absolute;
    height: 50px;
    width: 50px;
    right:80%;
    bottom:100px;
    z-index: 3; */
}